@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Roboto+Mono&family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: 'Amiri Quran', serif;
    letter-spacing: .5rem;
}

header {
    text-align: center;
    border-bottom: 2px solid white;
}

header > h1 {
    padding-bottom: 1rem;
}

main {
    margin: 0 auto; /* what is 0 auto short hand for? */
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 70vw;
    display: grid;
    grid-template-areas:
        "rune1 rune2 rune3"
        "rune4 rune5 rune6"
        "rune7 rune8 rune9";
    grid-template-rows: repeat(3, minmax(0, 150px));
    grid-template-columns: repeat(3, minmax(0, 150px));
    gap: 2rem;
    place-content: center;
}

.symbol {
    border: 1px solid hsl(84, 100%, 59%);
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
}

footer {
    border-top: 2px solid white;
    text-align: center;
    font-size: 2rem;
}

button {
    background-color: black;
    color: white;
}

#next {
    width: 340px;
    height: 90px;
    border-radius: 50px;
    margin: 0 auto 5rem auto;
    text-align: center;
    font-weight: bold;
    color: hsla(0, 0%, 100%, 0.521);
    background: hsla(120, 87%, 40%, 0.5);
}

div#next:hover {
    cursor: grab;
}

button:hover {
    cursor: grab;
}

#github {
    margin-top: 3rem;
}